.details__section{
    padding: 80px 0px;
}

.details__section .col-6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.details__section button{
    padding: 4px 12px;
}